::ng-deep
  .e-treeview
    border: 1px solid #ccc
    width: 400px

    .e-list-icon
      background-repeat: no-repeat
      background-image: url('https://ej2.syncfusion.com/angular/demos/src/images/icons/file_icons.png')
      height: 20px

    .e-list-icon.folder
      background-position: -10px -552px

    .e-list-icon.docx
      background-position: -10px -20px

    .e-list-icon.ppt
      background-position: -10px -48px

    .e-list-icon.xlsx
      background-position: -10px -76px

    .e-list-icon.pdf
      background-position: -10px -104px

    .e-list-icon.jpg
      background-position: -10px -132px

    .e-list-icon.zip
      background-position: -10px -188px

    .e-list-icon.mp3
      background-position: -10px -244px

    .e-list-icon
      &.mp4, &.webm, &.mkv
        background-position: -10px -272px

    .e-list-icon.js
      background-position: -10px -300px

    .e-list-icon.css
      background-position: -10px -328px

    .e-list-icon.html
      background-position: -10px -356px

    .e-list-icon.exe
      background-position: -10px -412px

    .e-list-icon.unknown
      background-position: -10px -468px
